* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

body {
    background-color: hsl(218, 11%, 8%);
    display: grid;
    place-items: center;
    justify-items: center;
    min-height: 100vh;
    caret-color: transparent;
}

#screen-one {
    height: 25.714rem;
    background-image: radial-gradient(98.96% 98.96% at 50% 0%, hsl(215,20%,17%), hsl(215,24%,12%) );   
    width: 23.357rem;
    border-radius: 15px;
    display: grid;
    grid-template-rows: 1.714rem 2.857rem 1.142rem 2.642rem 0.714rem 4.714rem 1.714rem 3rem 1.714rem 3.214rem 2.285rem;
    grid-template-columns: 1.714rem 3rem 17.071rem 1.714rem;
    grid-template-areas: 
    ". . . ."
    ". star  . ."
    ". . . ."
    ". question question  ."
    ". . . ."
    ". text text  ."
    ". . . ."
    ". buttons buttons ."
    ". . . ."
    ". submit submit  ."
    ". . . ."
}

.star {
    width: 2.857rem;
    height: 2.857rem;
    background-color: hsla(213, 19%, 18%, 100%);
    color: hsl(217, 12%, 54%);
    border-radius: 50%;
    grid-area: star;
    display: grid;
    place-items: center;
    justify-items: center;
}

.star > img {
    width: 1rem;
    height: 1rem;
}

.question-title {
    font-size: 1.714rem;
    font-weight: 700;
    color: hsl(0, 100%, 100%);
    grid-area: question;
}

.question-text {
    color: #969FAD;
    font-size: 1rem;
    line-height: 157.143%;
    grid-area: text;
}

#buttons-container {
    grid-area: buttons;
    display: grid;
    grid-template-rows: 3.214rem;
    grid-template-columns: 3rem 1.214rem 3rem 1.214rem 3rem 1.214rem 3rem 1.214rem 3rem;
    grid-template-areas: "btn-1 . btn-2 . btn-3 . btn-4 . btn-5";
}

.btn-1 {
    grid-area: btn-1;
}

.btn-2 {
    grid-area: btn-2;
}

.btn-3 {
    grid-area: btn-3;
}

.btn-4 {
    grid-area: btn-4;
}

.btn-5 {
    grid-area: btn-5;
}

.score-btn {
    width: 3rem;
    height: 3rem;
    background-color: #262E38;
    color: #7C8798;
    border-radius: 50%;
    line-height: 171.429%;
    font-weight: 700;
    letter-spacing: 0.175px;
    display: grid;
    place-items: center;
    justify-items: center;
}

.submit-btn {
    background-color: hsl(25, 97%, 53%);
    border: none;
    border-radius: 25px;
    font-weight: 700;
    color: hsl(0,0%,100%);
    text-transform: uppercase;
    letter-spacing: 1.867px;
    grid-area: submit;
}

.selected {
    background-color:  #7C8798;
    color: hsl(0,0%,100%);
}

#screen-two {
    display: none;
    height: 25.714rem;
    background-image: radial-gradient(98.96% 98.96% at 50.00% 0%, #232A34 0%, #181E27 100%);
    width: 23.357rem;
    color: white;
    border-radius: 15px;
    grid-template-columns: 1.714rem 4rem 0.857rem 10.285rem 0.857rem 4rem 1.714rem;
    grid-template-rows: 2.428rem 6.857rem 1.714rem 2.285rem 1.714rem 2.642rem 0.714rem 4.714rem 2.642rem;

    grid-template-areas: 
    ". . . . . . ."
    ". . . img . . ."
    ". . . . . . ."
    ". .  confirmation confirmation confirmation . .  "
    ". . . . . . ."
    ". . . thanks . . ."
    ". . . . . . ."
    ". text text text text text."
    ". . . . . . ."
    ;
}

.thanks-image {
    width: 10.285rem;
    grid-area: img;
}

.score-confirmation {
    width: 12rem;
    height: 2.285rem;
    color: hsl(25, 97%, 53%);
    background-color: hsl(213, 19%, 18%);
    border-radius: 22.5px;
    line-height:  157.143%;
    grid-area: confirmation;
    padding-top: 4px;
    display: grid;
    place-items: center;
    justify-items: center;
}

h2 {
    font-size: 1.714rem;
    font-weight: 700;
    grid-area: thanks;
    padding-top: 2px;
    display: grid;
    place-items: center;
    justify-items: center;
}

.feedback-text {
    color: hsl(213,12%, 63%);
    line-height: 157.143%;
    grid-area: text;
    text-align: center;
}



@media (min-width: 500px) {
   
    #screen-one {
        width: 29.428rem;
        height: 29.714rem;
        border-radius: 30px;
        grid-template-rows: 2.28rem 3.428rem 2.1428rem 3.071rem 0.5rem 5.142rem 1.714rem 2.285rem 3.214rem 2.285rem;
        grid-template-columns: 2.28rem 14.21rem 10.07rem 2.857rem;
        grid-template-areas: 
        ". . . ."
        ". star . ."
        ". . . ."
        ". question  ."
        ". . . ."
        ". text text ."
        ". . . ."
        ". buttons buttons ."
        ". . . ."
        ". submit submit ."
        ". . . ."
        ;
    }

    .star {
        width: 3.428rem;
        height: 3.428rem;
    }

    .question-title {
        font-size: 2rem;
        font-weight: 700;
        padding-top: 6px;
    }

    #feedback-score {
        font-size: 1.071rem;
    }
    .question-text {
        font-size: 1.07rem;
        line-height: 160%;
    }

    .score-btn {
        width: 3.642rem;
        height: 3.642rem;
        font-size: 1.142rem;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0.2px;
        padding-top: 3px;
    }

    .score-btn:hover {
        background-color: hsl(25, 97%, 53%);
        color: white;
        cursor: pointer;
    }

    .submit-btn {
        border-radius: 22.5px;
        font-size: 1.071rem;
        width: 24.357rem;
        height: 3.214rem;
    }

    .submit-btn:hover {
        background-color: white;
        color: hsl(25, 97%, 53%);
        cursor: pointer;
    }

    #buttons-container {
        grid-template-rows: 3.6428rem;
        grid-template-columns: 3.6428rem 1.5rem 3.6428rem 1.5rem 3.6428rem 1.5rem 3.6428rem 1.5rem 3.6428rem;
        grid-template-areas: "btn-1 . btn-2 . btn-3 . btn-4 . btn-5";
    }

    #screen-two {
        width: 29.428rem;
        height: 29.714rem;
        border-radius: 30px;
        grid-template-rows: 3.214rem 7.714rem 2.571rem 2.285rem 2.285rem 3.071rem .5rem 5.1428rem 3.214rem;
        grid-template-columns: 2.2857rem 5.571rem .785rem 11.57rem 1.428rem 4.9285rem 2.857rem;
    }

    .thanks-image {
        width: 11.57rem;
    }

    .score-confirmation {
        font-size: 1.0714rem;
        width: 13.785rem;
        height: 2.285rem;
        line-height: 160%;
    }

    h2 {
        font-size: 2rem;
        font-weight: 700;
    }

    .feedback-text {
        font-size: 1.0714rem;
        line-height: 160%;
    }
}