* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: hsl(216, 12%, 8%);
    display: grid;
    place-items: center;
    justify-items: center;
    min-height: 100vh;
}

#screen-one {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    background-color: hsl(213, 19%, 18%);
    width: 325px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: hsl(216, 12%, 54%);
    border-radius: 50%;
}



.question-title {
    color: white;
}

.question-text {
    color: hsl(217, 12%, 63%);
}

#buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.submit-btn {
    background-color: hsl(25, 97%, 53%);
    color: white;
    border: none;
    width: 80%;
    padding: 1rem 0;
    border-radius: 25px;
}

.selected {
    background-color: hsl(217, 12%, 63%);
    color: white;
}

#screen-two {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    background-color: hsl(213, 19%, 18%);
    width: 325px;
    color: white;
}

@media (min-width: 600px) {
    .circle:hover {
        background-color: hsl(25, 97%, 53%);
        color: white;
        cursor: pointer;
        }

    .submit-btn:hover {
        background-color: white;
        color: hsl(25, 97%, 53%);
        cursor: pointer;
    }
}